@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "sense-serif";
}

/* Navbar*/
.nav_container {
  width: 100vw;
  display: flex;
  justify-content: space-around;

  background-color: rgb(121, 49, 49);
}
.nav_container i {
  padding: 25px;
  color: #fff;
  font-size: 30px;
}

.nav_container ul {
  display: flex;
}
.nav_container ul li {
  list-style: none;
  color: #fff;
  margin: 7px;
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
  box-shadow: 2px rgb(121, 49, 49);
  border-radius: 5px;
}

/*container*/

.container {
  min-width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.movie_item {
  width: 200px;
  height: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}
.movie_item img {
  width: 200px;
  height: 250px;
}
.movie_item h3 {
  font-size: 10px;
}

.btn {
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background: rgb(121, 49, 49);
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(151, 47, 47);
  cursor: pointer;
}
/*details page*/
.details {
  display: flex;
  margin-top: 5px;
  padding: 10px;
  box-shadow: 10px 10px 5px 1px rgba(0, 0, 255, 0.2);
}

.details div {
  margin-right: 15px;
}

/* .form_box {
  width: 50%;
  height: fit-content;
  padding: 50px;
  top: 0;
  left: 0;
  background: black;
} */
form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 30%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form input {
  width: 94%;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid gray;
  cursor: pointer;
}
